.betList-container{
    width: 75%;
    background-color: #121212;
    padding:1rem;
    
   
    color:white;
}
.table-header{
    display: flex;
}
.left-column-header {
    width: 40%;
}
.column-header{
    display: flex;
    justify-content: center;
    width: 20%;
}